In [3]:
#import the teradataml package for Vantage access
from teradataml import *
import getpass
# Load Magic SQL Command
%load_ext sql
%config SqlMagic.feedback = False
import warnings
warnings.filterwarnings('ignore')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
Vantage = 'tdap1627t2.labs.teradata.com'
User = 'alice'
Pass = 'pwd'

In [5]:
con = create_context(Vantage, User, Pass)

In [6]:
%sql teradatasql://alice:pwd@tdap1627t2.labs.teradata.com

'Connected: alice@None'

In [7]:
%%sql
select 
--queryid
 right(left(REGEXP_SUBSTR(queryband, '_.*(no|co)', 1, 1, 'i'),5),4) as "SeqID"
, right(left(REGEXP_SUBSTR(queryband, '_.*(no|co)', 1, 1, 'i'),7),1) as "RunID"
--, queryband as "Run"
--, left(querytext,150) as "Query"
, case when queryband like '%no_statistics%' then '1' else '2' end
, (l.FirstRespTime - l.StartTime) DAY(4) TO SECOND as Elapsed
from dbc.dbqlogtbl l where 
queryband like '%statistics%' and
querytext like '%create multiset%' and
SeqID in ('8_83','8_84')
order by SeqID, RunID
-- group by SeqID

 * teradatasql://alice:***@tdap1627t2.labs.teradata.com

[('8_83', '1', '1', '    0 00:00:00.000000'),
 ('8_83', '1', '1', '    0 00:00:02.350000'),
 ('8_83', '1', '1', '    0 00:00:04.050000'),
 ('8_83', '1', '1', '    0 00:00:02.100000'),
 ('8_83', '1', '1', '    0 00:00:02.120000'),
 ('8_83', '1', '1', '    0 00:00:00.000000'),
 ('8_83', '1', '1', '    0 00:00:02.080000'),
 ('8_83', '2', '1', '    0 00:00:00.900000'),
 ('8_83', '2', '1', '    0 00:00:00.500000'),
 ('8_83', '3', '1', '    0 00:00:00.910000'),
 ('8_83', '3', '1', '    0 00:00:01.800000'),
 ('8_83', '4', '1', '    0 00:00:00.110000'),
 ('8_83', '4', '1', '    0 00:00:00.150000'),
 ('8_83', '5', '1', '    0 00:00:00.080000'),
 ('8_83', '5', '1', '    0 00:00:00.100000'),
 ('8_83', '6', '1', '    0 00:00:00.220000'),
 ('8_83', '6', '1', '    0 00:00:00.210000'),
 ('8_83', '7', '1', '    0 00:00:00.090000'),
 ('8_83', '7', '1', '    0 00:00:00.100000'),
 ('8_84', '1', '2', '    0 00:00:03.790000'),
 ('8_84', '1', '2', '    0 00:00:01.950000'),
 ('8_84', '1', '2', '    0 00:00:02.100000'),
 ('8_84', '2', '2', '    0 00:00:00.850000'),
 ('8_84', '2', '2', '    0 00:00:00.490000'),
 ('8_84', '3', '2', '    0 00:00:01.670000'),
 ('8_84', '3', '2', '    0 00:00:01.000000'),
 ('8_84', '4', '2', '    0 00:00:00.180000'),
 ('8_84', '4', '2', '    0 00:00:00.120000'),
 ('8_84', '5', '2', '    0 00:00:00.140000'),
 ('8_84', '5', '2', '    0 00:00:00.140000'),
 ('8_84', '6', '2', '    0 00:00:00.160000'),
 ('8_84', '6', '2', '    0 00:00:00.160000'),
 ('8_84', '7', '2', '    0 00:00:00.070000'),
 ('8_84', '7', '2', '    0 00:00:00.110000')]

In [8]:
%%sql
SELECT
		  (FirstRespTime - StartTime) DAY(4) TO SECOND as elapsed
		, (extract(day from elapsed) * 86400) 
		   + (extract(hour from elapsed) * 3600) 
		   + (extract(minute from elapsed) * 60) 
		   + extract(second from elapsed) as ElapsedTimeSeconds
	    , AMPCPUTime as cputime
	    , CASE WHEN d.QueryBand like '%no_statistics%' THEN '1' 
		       WHEN QueryBand like '%collected_statistics%' THEN '2'
				ELSE '0' END AS stats_collected 
		from dbc.dbqlogtbl d
		where 
		d.QueryBand like '%8_8%'
		and stats_collected<>0

 * teradatasql://alice:***@tdap1627t2.labs.teradata.com

[('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '1'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.004, '2'),
 ('    0 00:00:00.000000', Decimal('0.000000'), 0.0, '1'),
 ('    0 00:00:00.490000', Decimal('0.490000'), 1.508, '2'),
 ('    0 00:00:00.050000', Decimal('0.050000'), 0.0, '1'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '1'),
 ('    0 00:00:00.110000', Decimal('0.110000'), 0.196, '1'),
 ('    0 00:00:00.000000', Decimal('0.000000'), 0.0, '1'),
 ('    0 00:00:00.030000', Decimal('0.030000'), 0.0, '2'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '2'),
 ('    0 00:00:00.160000', Decimal('0.160000'), 0.192, '2'),
 ('    0 00:00:01.670000', Decimal('1.670000'), 2.996, '2'),
 ('    0 00:00:00.030000', Decimal('0.030000'), 0.0, '1'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '2'),
 ('    0 00:00:00.100000', Decimal('0.100000'), 0.072, '1'),
 ('    0 00:00:00.160000', Decimal('0.160000'), 0.204, '2'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '1'),
 ('    0 00:00:00.030000', Decimal('0.030000'), 0.0, '1'),
 ('    0 00:00:00.900000', Decimal('0.900000'), 1.544, '1'),
 ('    0 00:00:04.050000', Decimal('4.050000'), 7.56, '1'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '2'),
 ('    0 00:00:00.030000', Decimal('0.030000'), 0.004, '1'),
 ('    0 00:00:00.120000', Decimal('0.120000'), 0.192, '2'),
 ('    0 00:00:01.800000', Decimal('1.800000'), 3.02, '1'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '1'),
 ('    0 00:00:00.030000', Decimal('0.030000'), 0.0, '1'),
 ('    0 00:00:00.080000', Decimal('0.080000'), 0.064, '1'),
 ('    0 00:00:00.150000', Decimal('0.150000'), 0.196, '1'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '2'),
 ('    0 00:00:00.030000', Decimal('0.030000'), 0.0, '1'),
 ('    0 00:00:00.070000', Decimal('0.070000'), 0.076, '2'),
 ('    0 00:00:00.210000', Decimal('0.210000'), 0.188, '1'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '1'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '2'),
 ('    0 00:00:00.090000', Decimal('0.090000'), 0.076, '1'),
 ('    0 00:00:00.140000', Decimal('0.140000'), 0.06, '2'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '1'),
 ('    0 00:00:00.030000', Decimal('0.030000'), 0.004, '2'),
 ('    0 00:00:00.220000', Decimal('0.220000'), 0.236, '1'),
 ('    0 00:00:00.110000', Decimal('0.110000'), 0.064, '2'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '2'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '2'),
 ('    0 00:00:01.950000', Decimal('1.950000'), 7.096, '2'),
 ('    0 00:00:00.140000', Decimal('0.140000'), 0.068, '2'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.004, '1'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.004, '1'),
 ('    0 00:00:00.910000', Decimal('0.910000'), 3.18, '1'),
 ('    0 00:00:02.080000', Decimal('2.080000'), 7.164, '1'),
 ('    0 00:00:00.030000', Decimal('0.030000'), 0.0, '2'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '2'),
 ('    0 00:00:00.180000', Decimal('0.180000'), 0.212, '2'),
 ('    0 00:00:02.100000', Decimal('2.100000'), 7.028, '2'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '2'),
 ('    0 00:00:00.030000', Decimal('0.030000'), 0.0, '2'),
 ('    0 00:00:03.790000', Decimal('3.790000'), 7.18, '2'),
 ('    0 00:00:00.850000', Decimal('0.850000'), 1.48, '2'),
 ('    0 00:00:00.050000', Decimal('0.050000'), 0.0, '1'),
 ('    0 00:00:00.500000', Decimal('0.500000'), 1.58, '1'),
 ('    0 00:00:00.030000', Decimal('0.030000'), 0.0, '1'),
 ('    0 00:00:02.120000', Decimal('2.120000'), 7.616, '1'),
 ('    0 00:00:00.030000', Decimal('0.030000'), 0.004, '1'),
 ('    0 00:00:00.100000', Decimal('0.100000'), 0.072, '1'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '2'),
 ('    0 00:00:01.000000', Decimal('1.000000'), 2.924, '2'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '1'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '1'),
 ('    0 00:00:00.030000', Decimal('0.030000'), 0.0, '1'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.0, '1'),
 ('    0 00:00:02.350000', Decimal('2.350000'), 7.708, '1'),
 ('    0 00:00:00.040000', Decimal('0.040000'), 0.004, '1'),
 ('    0 00:00:02.100000', Decimal('2.100000'), 7.676, '1')]

In [9]:
%%sql
SELECT
   stats_collected
 , sum(ElapsedTimeSeconds)
 , sum(cputime)
from (
SELECT
		  (FirstRespTime - StartTime) DAY(4) TO SECOND as elapsed
		, (extract(day from elapsed) * 86400) 
		   + (extract(hour from elapsed) * 3600) 
		   + (extract(minute from elapsed) * 60) 
		   + extract(second from elapsed) as ElapsedTimeSeconds
	    , AMPCPUTime as cputime
	    , CASE WHEN d.QueryBand like '%no_statistics%' THEN '1' 
		       WHEN QueryBand like '%collected_statistics%' THEN '2'
				ELSE '0' END AS stats_collected 
		from dbc.dbqlogtbl d
		where 
		d.QueryBand like '%8_8%'
		and stats_collected<>0
) as dt	
group by stats_collected
--order by stats_collected;

 * teradatasql://alice:***@tdap1627t2.labs.teradata.com

[('1', Decimal('9.760000'), 19.948),
 ('2', Decimal('6.150000'), 13.607999999999999),
 ('2', Decimal('7.340000'), 17.68),
 ('1', Decimal('8.930000'), 28.219999999999995)]

In [10]:
df=DataFrame.from_query("""
SELECT
   stats_collected
 , cast(sum(ElapsedTimeSeconds) as float) as ElapsedTimeSeconds
 , sum(cputime) as CpuTime
from (
SELECT
		  (FirstRespTime - StartTime) DAY(4) TO SECOND as elapsed
		, (extract(day from elapsed) * 86400) 
		   + (extract(hour from elapsed) * 3600) 
		   + (extract(minute from elapsed) * 60) 
		   + extract(second from elapsed) as ElapsedTimeSeconds
	    , AMPCPUTime as cputime
	    , CASE WHEN d.QueryBand like '%no_statistics%' THEN 1 
		       WHEN QueryBand like '%collected_statistics%' THEN 2
				ELSE 0 END AS stats_collected 
		from dbc.dbqlogtbl d
		where 
		d.QueryBand like '%8_8%'
		and stats_collected<>0
) as dt	
group by stats_collected
""")

In [11]:
pdf = df.to_pandas()

In [12]:
remove_context()

True

In [13]:
Vantage = 'snowdon1.labs.teradata.com'
User = 'ut1'
Pass = 'pwd'

# move from test system to system with AppCenter

In [24]:
con = create_context(Vantage, User, Pass)

In [25]:
engine = create_engine("teradatasql://{u}:{p}@{s}".format(u=User, p=Pass, s=Vantage))

In [16]:
meta = MetaData()
meta.bind = engine

In [17]:
pdf

   stats_collected  ElapsedTimeSeconds  CpuTime
0                2               13.49   31.288
1                1               18.69   48.168

In [18]:
pdf.dtypes

stats_collected         int64
ElapsedTimeSeconds    float64
CpuTime               float64
dtype: object

In [20]:
pdf.to_sql('results2', con=engine, if_exists='append',  chunksize=1000, index = False)

In [27]:
%sql teradatasql://ut1:pwd@snowdon1.labs.teradata.com

'Connected: ut1@None'

In [28]:
%%sql
select * from results2

   teradatasql://alice:***@tdap1627t2.labs.teradata.com
 * teradatasql://ut1:***@snowdon1.labs.teradata.com

[(2, 13.49, 31.288), (1, 18.69, 48.168)]